<h1>質問</h1>
<%= form_with model: @question do |f| %>
  <p>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
    <% if @question.errors[:title].present? %>
     <span class="has_error"><%= @question.errors[:title].first %></span>
    <% end %>
  </p>
 　　
  <p>
    <%= f.label :body, "内容" %><br>
    <%= f.text_area :body, cols: 60, rows: 8 %>
    <% if @question.errors[:body].present? %>
     <span class="has_error"><%= @question.errors[:body].first %></span>
    <% end %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>