<h1>プロフィール編集</h1>
<%= form_for current_user, url: {action: 'update'} do |f| %>
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
 
  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>


<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>